# Dependencies
/vendor/
/node_modules/

# Build output
/build/
/dist/
*.zip

# Tooling caches
.phpcs.xml.cache
.phpunit.result.cache

# Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Local overrides
*.log
.env
